* {
    border: 1px solid red;
}

.header1 {
    background-color: aqua;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe1 {
    background-color: green;
    padding: 5px;
    margin-right: 10px;
}

.recipe2 {
    background-color: green;
    padding: 5px;
}